<h1>Productos en tiempo real</h1>

<h2>Ingrese un nuevo producto</h2>
<form action='/api/products' id="create-product" method="post">
    <label>Titulo</label>
    <input id="title" /><br/>
    <label>Descripcion</label>
    <input id="description" /><br/>
    <label>Codigo</label>
    <input id="code" /><br/>
    <label>Stock</label>
    <input id="stock" /><br/>
    <label>Categoria</label>
    <input id="category" /><br/>
    <label>Precio</label>
    <input id="price" /><br/>
    
    <input type="submit" value="Agregar">
</form>

<h2>Productos</h2>
<div id="real-products">
{{#each products}}
<ul>
    <li>ID: {{this.id}}</li>
    <li>Titulo: {{this.title}}</li>
    <li>Descripcion: {{this.description}}</li>
    <li>Codigo: {{this.code}}</li>
    <li>Stock: {{this.stock}}</li>
    <li>Categoria: {{this.category}}</li>
    <li>Precio: {{this.price}}</li>
</ul>
{{/each}}
</div>