<h1>Productos en tiempo real</h1>

<h2>Ingrese un nuevo producto</h2>
<form id="create" method="post">
    <label>Titulo</label>
    <input id="title" /><br/>
    <label>Descripcion</label>
    <input id="description" /><br/>
    <label>Codigo</label>
    <input id="code" /><br/>
    <label>Stock</label>
    <input id="stock" /><br/>
    <label>Categoria</label>
    <input id="category" /><br/>
    <label>Precio</label>
    <input id="price" /><br/>
    
    <button id="send">Agregar</button>
</form>

<h2>Elimine un producto</h2>
<form id="delete" method="delete">
    <label>Id producto: </label> 
    <input id="product-id"/>
    <button id="send-delete">Eliminar</button>
</form>

<h2>Productos</h2>
{{#each products}}
<ul>
    <li>ID: {{this.id}}</li>
    <li>Titulo: {{this.title}}</li>
    <li>Descripcion: {{this.description}}</li>
    <li>Codigo: {{this.code}}</li>
    <li>Stock: {{this.stock}}</li>
    <li>Categoria: {{this.category}}</li>
    <li>Precio: {{this.price}}</li>
</ul>
{{/each}}